/* font-family: 'Roboto', sans-serif; 
   font-family: 'Roboto Black', arial;
 */


/*----------  Общие стили  ----------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #fbfbfb;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
}

ul {
  list-style-type: none;
}

button,
button:active,
button:focus {
  outline: none;
  border: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.heading {
  color: #262626;
  font-size: 54px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 112px;
  line-height: 1;
  padding-top: 83px;
}

.button_empty {
  display: block;
  color: #f53f4f;
  background-color: transparent;
  border: 1px solid #f82370;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.button_empty:hover {
  background-color: #ff4e2e;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.button_fill {
  display: block;
  width: 270px;
  height: 60px;
  background-color: #ff4e2e;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.button_fill:hover {
  background-color: transparent;
  color: #f53f4f;
  border: 1px solid #f82370;
  -webkit-transition: .5s;
  transition: .5s;
}

.img-desc {
  color: #8993ad;
  font-size: 20px;
  font-weight: 400;
}

/*=====  Header  ======*/

header {
  margin-top: 29px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

.nav ul li a {
  color: #1f1f24;
  font-size: 16px;
  font-weight: 400;
  margin-right: 34px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s
}

.nav ul li a:hover {
  color: #fc557c;
  text-decoration: underline;
  -webkit-transition: .5s;
  transition: .5s;
}

.header-contact__phone {
  color: #1f1f24;
  font-size: 25px;
  font-weight: 700;
  margin-right: 25px;
}

.header-contact__button {
  width: 207px;
  height: 45px;
}

.bg-wrapper {
  background-image: url(../img/Ellipse_1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  margin-top: 64px;
}

.developer {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
      align-self: center;
  margin-right: -40px;
  -webkit-transform: translateY(-44px);
          transform: translateY(-44px);
}

.developer__name {
  color: #1f1f24;
  font-family: 'Roboto Black', arial;
  font-size: 78px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 22px;
}

.developer__desc {
  display: block;
  color: #8993ad;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 46px;
}

.developer-img {
  margin-right: -81px;
}

.developer-img__photo {
  width: 100%;
  height: auto;
  display: block;
}

/*----------  Что я делаю секция  ----------*/
.skills {
  background-color: #fff;
  padding-bottom: 103px;
}

.skills__item-wrapper {
  margin-bottom: 83px;
}

.skills__item:first-child {
  -webkit-transform: translate(-10px, -8px);
          transform: translate(-10px, -8px);
}

.skills__item {
  -webkit-transform: translate(18px, -11px);
          transform: translate(18px, -11px);
}

.skills__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

.skills__desc {
  display: block;
  width: 275px;
  text-align: center;
  margin: 0 auto;
}

.skills__button {
  display: block;
  margin: 0 auto;
}

/*---------- Примеры моих работ cекция  ----------*/
.case-wrapper {
  position: relative;
}

.cases .heading {
  margin-bottom: 107px;
  padding-top: 89px;
}

.case__img {
  margin-bottom: 34px;
}

.case figcaption {
  text-align: center;
}

.case__desc {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
      align-self: center;
}

.case__button {
  margin: 0 auto;
  margin-top: 91px;
  margin-bottom: 102px;
}

/*----------  Цена секция  ----------*/
.price {
  background-color: #ebebeb;
  background-image: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
}

.price__title {
  color: #ffffff;
  font-size: 45px;
  width: 85%;
  font-weight: 700;
  margin: 0 auto;
  margin-right: 59px;
  padding-top: 76px;
  padding-bottom: 39px;
  line-height: 1.3;
}

.price__desc {
  width: 88%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 35px;
  line-height: 1.4;
  margin-left: 20px;
}

.price__desc-text {
  display: block;
  width: 85%;
  margin: 0 auto;
  margin-right: 59px;
}

/*----------  Footer  ----------*/
footer {
  margin-top: 74px;
}

.footer-nav a {
  color: #8993ad;
  font-size: 18px;
  font-weight: 400;
  padding-left: 0;
}

.footer-nav__items {
  margin-bottom: 11px;
  cursor: pointer;
}

.footer-nav__items:last-child {
  margin-bottom: 15px;
}

footer ul li a {
  -webkit-transition: 0.5s;
  transition: 0.5s
}

footer ul li a:hover {
  color: #fc557c;
  text-decoration: underline;
  -webkit-transition: 0.5s;
  transition: 0.5s
}

.contacts-wrapper {
  margin-left: 87px;
}

.footer-phone::before {
  font-family: FontAwesome;
  content: "\f095";
  padding-right: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(#f26522), color-stop(99%, #fa0891), to(#fa0891));
  background: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}

.footer-phone {
  display: block;
  margin-bottom: 20px;
  font-size: 25px;
  color: #000000;
  font-weight: 400;
  line-height: 1;
}

a[href^="tel:"] {
  text-decoration: none;
  color: #000000;
  -webkit-transition: color 0.5s;
  transition: color 0.5s
}

a[href^="tel:"]:hover {
  text-decoration: none;
  color: #fc557c;
  -webkit-transition: color 0.5s;
  transition: color 0.5s
}

.footer-mail::before {
  font-family: FontAwesome;
  content: "\f0e0";
  padding-right: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(#f26522), color-stop(99%, #fa0891), to(#fa0891));
  background: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}

.footer-mail {
  display: block;
  font-size: 25px;
  color: #000000;
  font-weight: 400;
  line-height: 1;
  margin-top: 20px;
}

a[href^="mailto:"] {
  text-decoration: none;
  color: #000000;
  -webkit-transition: color 0.5s;
  transition: color 0.5s
}

a[href^="mailto:"]:hover {
  text-decoration: none;
  color: #fc557c;
  -webkit-transition: color 0.5s;
  transition: color 0.5s
}

.social-icon-wrapper {
  margin-right: 20px;
}

.socials-icons {
  width: 100%;
  padding-left: 0;
  margin-top: 29px;
  
}

.socials-icons li {
  display: inline-block;
  margin-right: 25px;
}

.sprite {
  display: block;
  background-image: url(../img/socials.png);
  background-repeat: no-repeat;
}

.socials-icons_vk  {
  width: 35px;
  height: 21px;
  background-position: -105px -5px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.socials-icons_vk:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.socials-icons_fb {
  width: 16px;
  height: 28px;
  background-position: -5px -5px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.socials-icons_fb:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.socials-icons_tw {
  width: 29px;
  height: 25px;
  background-position: -66px -5px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.socials-icons_tw:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.socials-icons_ig {
  width: 25px;
  height: 25px;
  background-position: -31px -5px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
} 

.socials-icons_ig:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer-btn {
  width: 248px;
  height: 45px;
}

.footer-rights {
  background-color: #31293c;
  text-align: center;
  margin-top: 81px;
}

.footer-rights__text {
  display: block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding-top: 30px;
  padding-bottom: 35px;
}

/*----------  Всплывающие HTML Теги  ----------*/
.html-tegs {
  display: inline-block;
  width: 100%;
  height: 0;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.html-teg__item {
  display: inline-block;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f26522), color-stop(99%, #fa0891), to(#fa0891));
  background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #6055c4;
  opacity: 0;
}

.header__item_close {
  -webkit-transform: translate(0vw, 0vh) rotate(-21deg);
          transform: translate(0vw, 0vh) rotate(-21deg);
  font-size: 38px;
  font-weight: 700;
  line-height: 33.97px;
}
.header__item_close_onload {
  -webkit-transform: translate(-14vw, 0px) rotate(-21deg);
          transform: translate(-14vw, 0px) rotate(-21deg);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.header__item_div {
  -webkit-transform: translate(0vw, 0vh)rotate(20deg);
          transform: translate(0vw, 0vh)rotate(20deg);
  font-size: 35px;
  font-weight: 700;
  line-height: 31.75px;
}

.header__item_div_onload {
  -webkit-transform: translate(27vw, 586px)rotate(20deg);
          transform: translate(27vw, 586px)rotate(20deg);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.header__item_div1 {
  -webkit-transform: translate(0vw, 0vh) rotate(-16deg);
          transform: translate(0vw, 0vh) rotate(-16deg); 
  font-size: 29px;
  font-weight: 700;
  line-height: 26.07px;
}

.header__item_div1_onload {
  -webkit-transform: translate(15vw, 7vh) rotate(-16deg);
          transform: translate(15vw, 7vh) rotate(-16deg);
  -webkit-transition: 1s ease;
  transition: 1s ease; 
}

.header__item_grid {
  -webkit-transform: translate(0vw, 0vh) rotate(16deg);
          transform: translate(0vw, 0vh) rotate(16deg);
  font-size: 55px;
  font-weight: 700;
  line-height: 49.43px;
}
.header__item_grid_onload {
  -webkit-transform: translate(-15vw, 550px) rotate(16deg);
          transform: translate(-15vw, 550px) rotate(16deg);
  -webkit-transition: 1s ease;
  transition: 1s ease; 
}

.header__item_brackets {
  -webkit-transform: translate(0vw, 0vh) rotate(28deg);
          transform: translate(0vw, 0vh) rotate(28deg);
  font-size: 43px;
  height: 43px;
  font-weight: 700;
  line-height: 38.97px;
}

.header__item_brackets_onload {
  -webkit-transform: translate(-23vw, 168px) rotate(28deg);
          transform: translate(-23vw, 168px) rotate(28deg);
  -webkit-transition: 1s ease;
  transition: 1s ease; 
}

.price-html-teg__item {
  display: inline-block;
  color: #fff;
}

.price__item_div {
  -webkit-transform: translate(62vw, -4vh) rotate(20deg);
          transform: translate(62vw, -4vh) rotate(20deg);
  font-size: 35px;
  font-weight: 700;
  line-height: 31.75px;
}

.price__item_brackets {
  -webkit-transform: translate(-20vw, -24vh) rotate(-18deg);
          transform: translate(-20vw, -24vh) rotate(-18deg);
  font-size: 48px;
  font-weight: 700;
  line-height: 42.86px;
}

.price__item_brackets1 {
  -webkit-transform: translate(68vw, -10vh) rotate(27deg);
          transform: translate(68vw, -10vh) rotate(27deg);
  font-size: 48px;
  font-weight: 700;
  line-height: 42.86px;
}

.price__item_grid {
  -webkit-transform: translate(-9vw, -4vh) rotate(17deg);
          transform: translate(-9vw, -4vh) rotate(17deg);
  font-size: 55px;
  font-weight: 700;
  line-height: 49.43px;
}

.price__item_close {
  -webkit-transform: translate(61vw, -24vh) rotate(-23deg);
          transform: translate(61vw, -24vh) rotate(-23deg);
  font-size: 38px;
  font-weight: 700;
  line-height: 33.97px;
}

@media (max-width: 1460px) {
  .header__item_close_onload {
    -webkit-transform: translate(-11vw, 525px) rotate(-21deg);
            transform: translate(-11vw, 525px) rotate(-21deg);
  }
  .header__item_div_onload {
    -webkit-transform: translate(20vw, 550px)rotate(20deg);
            transform: translate(20vw, 550px)rotate(20deg);
  }
  .header__item_div1_onload {
    -webkit-transform: translate(33vw, 7vh) rotate(-16deg);
            transform: translate(33vw, 7vh) rotate(-16deg);
  }
  .header__item_grid_onload {
    -webkit-transform: translate(8vw, 11vh) rotate(16deg);
            transform: translate(8vw, 11vh) rotate(16deg);
  }
  .header__item_brackets_onload {
    -webkit-transform: translate(-13vw, 3vh) rotate(28deg);
            transform: translate(-13vw, 3vh) rotate(28deg);
  }
  .price__item_close {
    -webkit-transform: translate(69vw, -24vh) rotate(-23deg);
            transform: translate(69vw, -24vh) rotate(-23deg);
  }
  .price__item_brackets {
    -webkit-transform: translate(-13vw, -24vh) rotate(-18deg);
            transform: translate(-13vw, -24vh) rotate(-18deg);
  }
}
@media (max-width: 1140px) {
  .header__item_close_onload {
    -webkit-transform: translate(9vw, 534px) rotate(-21deg);
            transform: translate(9vw, 534px) rotate(-21deg);
  }
  .header__item_div_onload {
    -webkit-transform: translate(37vw, 11vh)rotate(20deg);
            transform: translate(37vw, 11vh)rotate(20deg);
  }
  .header__item_div1_onload {
    -webkit-transform: translate(75vw, 4vh) rotate(-16deg);
            transform: translate(75vw, 4vh) rotate(-16deg);
  }
  .header__item_grid_onload {
    -webkit-transform: translate(-11vw, 527px) rotate(16deg);
            transform: translate(-11vw, 527px) rotate(16deg);
  }
  .price__item_brackets {
    -webkit-transform: translate(6vw, -355px) rotate(-18deg);
            transform: translate(6vw, -355px) rotate(-18deg);
    font-size: 30px;
  }
  .price__item_close {
    -webkit-transform: translate(40vw, -357px) rotate(-23deg);
            transform: translate(40vw, -357px) rotate(-23deg);
    font-size: 30px;
  }
  .price__item_div {
    -webkit-transform: translate(39vw, -6vh) rotate(20deg);
            transform: translate(39vw, -6vh) rotate(20deg);
  }
}
@media (max-width: 925px) {
  .header__item_close_onload {
    -webkit-transform: translate(36vw, 27vh) rotate(-21deg);
            transform: translate(36vw, 27vh) rotate(-21deg);
  }
  .price__item_brackets {
    -webkit-transform: translate(6vw, -330px) rotate(-18deg);
            transform: translate(6vw, -330px) rotate(-18deg);
    font-size: 30px;
  }
  .price__item_close {
    -webkit-transform: translate(40vw, -332px) rotate(-23deg);
            transform: translate(40vw, -332px) rotate(-23deg);
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .header__item_close_onload {
    -webkit-transform: translate(3vw, -3vh) rotate(-21deg);
            transform: translate(3vw, -3vh) rotate(-21deg)
  }
  .header__item_div_onload {
    -webkit-transform: translate(14vw, 17vh)rotate(20deg);
            transform: translate(14vw, 17vh)rotate(20deg);
  }
  .header__item_div1_onload {
    -webkit-transform: translate(52vw, 1vh) rotate(-16deg);
            transform: translate(52vw, 1vh) rotate(-16deg);
  }
  .header__item_grid_onload {
    -webkit-transform: translate(-20vw, 400px) rotate(16deg);
            transform: translate(-20vw, 400px) rotate(16deg);
  }
  .header__item_brackets_onload {
    -webkit-transform: translate(-13vw, 3vh) rotate(28deg);
            transform: translate(-13vw, 3vh) rotate(28deg);
  }
  .price__item_div {
    font-size: 23px;
  }
  .price__item_brackets {
    display: none;
  }
  .price__item_brackets1 {
    -webkit-transform: translate(68vw, -3vh) rotate(27deg);
            transform: translate(68vw, -3vh) rotate(27deg);
    font-size: 23px;
  }
  .price__item_grid {
    font-size: 23px;
  }
  .price__item_close {
    display: none;
  }
}

@media (max-width: 570px) {
  .header__item_close_onload {
    -webkit-transform: translate(32vw, 1vh) rotate(-21deg);
            transform: translate(32vw, 1vh) rotate(-21deg);
    font-size: 22px;
  }
  .header__item_div_onload {
    -webkit-transform: translate(6vw, 17vh)rotate(20deg);
            transform: translate(6vw, 17vh)rotate(20deg);
    font-size: 22px;
  }
  .header__item_div1_onload {
    display: none;
  }
  .header__item_grid_onload {
    -webkit-transform: translate(20vw, 7vh) rotate(16deg);
            transform: translate(20vw, 7vh) rotate(16deg);
    font-size: 22px;
  }
  .header__item_brackets_onload {
    -webkit-transform: translate(-5vw, 1vh) rotate(28deg);
            transform: translate(-5vw, 1vh) rotate(28deg);
    font-size: 22px;
  }
  .price__item_div {
    display: none;
  }
  .price__item_brackets {
    display: none;
  }
  .price__item_brackets1 {
    display: none;
  }
  .price__item_grid {
    display: none;
  }
  .price__item_close {
    display: none;
  }
}

@media (max-width: 400px) {
  .header__item_close_onload {
    -webkit-transform: translate(32vw, 1vh) rotate(-21deg);
            transform: translate(32vw, 1vh) rotate(-21deg);
    font-size: 22px;
  }
  .header__item_div_onload {
    -webkit-transform: translate(-3vw, 13vh)rotate(20deg);
            transform: translate(-3vw, 13vh)rotate(20deg);
    font-size: 22px;
  }
  .header__item_div1_onload {
    display: none;
    -webkit-transform: translate(52vw, 1vh) rotate(-16deg);
            transform: translate(52vw, 1vh) rotate(-16deg);
    font-size: 22px;
  }
  .header__item_grid_onload {
    -webkit-transform: translate(20vw, 4vh) rotate(16deg);
            transform: translate(20vw, 4vh) rotate(16deg);
    font-size: 22px;
  }
  .header__item_brackets_onload {
    -webkit-transform: translate(-5vw, 1vh) rotate(28deg);
            transform: translate(-5vw, 1vh) rotate(28deg);
    font-size: 22px;
  }
}

/*----------  Бургер ----------*/
.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.burger__btn {
  display: block;
  width: 45px;
  height: 32px;
  background-color: #fff;
  position: relative;
}

.burger__btn span,
.burger__btn span::before,
.burger__btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -3px;
  left: 50%;
  margin-left: -23px;
  width: 46px;
  height: 5px;
  background-color: #6c6b86;
  background-image: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
  cursor: pointer;
}

.burger__btn span::before,
.burger__btn span::after {
  content: '';
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.burger__btn span::before {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.burger__btn span::after {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

.burger__btn_active span {
  height: 0;
}

.burger__btn_active span:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 45px;
}

.burger__btn_active span:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 45px;
  -webkit-transform-origin: center;
  transform-origin: center;
}

/*----------  Круглая кнопка телефона мобильной версии  ----------*/

.header-contact__button span i, i {
  display: none;
}

i::before {
  display: none;
}

.fa-phone {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f26522), color-stop(99%, #fa0891), to(#fa0891));
  background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #6055c4;
}

/*----------  Настройка Слайдера  ----------*/
.swiper-container {
  width: 100%;
}

.swiper-container img {
  width: 100%;
  height: auto;
}

.prev {
  display: block;
  width: 61px;
  height: 60px;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  position: absolute;
  left: -30px;
  bottom: 50%;
  background-image: url(../img/left-arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9;
  outline: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.prev:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.next {
  display: block;
  width: 61px;
  height: 60px;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  position: absolute;
  right: -30px;
  bottom: 50%;
  background-image: url(../img/right-arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9;
  outline: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.next:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

@media screen and (max-width: 1024px) {
  .prev, .next {
    display: none;
  }
}

.swiper-pagination {
  width: 100%;
  margin: 0 auto;
  bottom: -118px;
}

.swiper-pagination-bullet {
  margin-right: 30px;
  width: 18px;
  height: 18px;
  background-color: #857f7f; /* Цвет поментять на #ebebeb после того как сделаю*/
  border-radius: 100%;
  text-indent: -9999px;
  outline: none;
}

.swiper-pagination-bullet-active {
  background-color: #ff4e2e;
  outline: none;
}

/*----------  Pop-up menu   ----------*/
.stop-scrolling {
  width: 100%;
	overflow-y: hidden;
  }

.modal-call, .modal-more {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 99;
  overflow: hidden;
}

.modal_active {
  display: block;
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 0;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #ebebeb;
  border-radius: 20px;
}

.modal-more .modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 320px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #ebebeb;
  border-radius: 20px;
}

.modal-header {
  margin-bottom: 25px;
  font-size: 22px;
}

.madal-header__heading {
  margin-top: 25px;
  width: 100%;
  font-size: 22px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.close {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000000;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  
}
.close::after {
  content: '';
  width: 20px;
  height: 2px;
  display: block;
  background-color: #000000;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modal-body {
  width: 100%;
}

.modal-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}

.modal-form__phone, 
.modal-form__mail, 
.modal-form__name  {
  width: 100%;
  height: 40px;
  font-size: 16px;
  margin-bottom: 20px;
  padding-left: 20px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.modal-form__btn {
  width: 100%;
  height: 40px;
  margin-bottom: 25px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #f26522;
  outline: none;
  border: none;
}