@media screen and (max-width: 1140px) {

  .container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 985px;
    padding: 0 20px;
  }

  .heading {
    padding-top: 83px;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  .cases .heading {
    padding-top: 94px;
  }

  .nav {
    display: none;
  }

  .menu {
    display: block;
    margin-top: 20px;
    -webkit-box-shadow: 0 5 10px;
    box-shadow: 0 5 10px;
  }

  .menu__item {
    margin-bottom: 5px;
  }

  .bg-wrapper {
    background: url(/img/bg-1024.png) no-repeat;
    background-position: 100% 100%;
  }

  .developer {
    margin-bottom: 0;
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
  }

  .developer__name {
    font-size: 54px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 28px;
  }

  .developer__desc {
    margin-bottom: 46px;
  }

  .button_fill {
    width: 320px;
    height: 68px;
  }

  .developer-img {
    margin-right: 0;
  }

  .burger {
    display: block;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }

  .skills__item-wrapper {
    max-width: 85%;
    -webkit-transform: translate(74px, -8px);
    transform: translate(74px, -8px);
    margin-bottom: 2px;
  }

  .skills .flex-container {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .skills__item:first-child {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .skills__item {
    margin-bottom: 82px;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .cases .heading {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  .case__img {
    margin-bottom: 14px;
  }

  .case__desc {
    font-size: 25px;
  }

  .case__button {
    margin-top: 215px;
  }

  .price__title {
    width: 100%;
    margin-left: 0;
  }

  .price__desc {
    margin-left: 0;
    padding-bottom: 86px;
  }

  .price__desc-text {
    margin: 0;
  }

  .footer {
    margin-top: 99px;
  }

  .social-icon-wrapper {
    margin-right: 0;
  }

  .contacts-wrapper {
    margin-left: 50px;
    margin-top: 8px;
  }

  .footer-mail {
    margin-top: 32px;
  }

  .footer-rights__text {
    padding-top: 26px;
  }
}

@media screen and (max-width: 924px) {

  .container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .bg-wrapper {
    margin-top: -50px;
  }

  .header-contact__button {
    display: none;
  }

  .header-contact__phone {
    font-size: 24px;
  }

  .mob-btn {
    display: block;
  }

  .fa-2x {
    font-size: 1.4em;
  }

  .developer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: translateY(279px);
    transform: translateY(279px);
  }

  .developer {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .developer-img {
    margin-bottom: 50px;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  .header__btn {
    margin: 0 auto;
  }

  .heading {
    margin-top: 250px;
  }

  .cases .heading {
    margin-top: 0;
  }

  .price__title {
    font-size: 38px;
  }

  .burger__btn span,
  .burger__btn span::before,
  .burger__btn span::after {
    top: 50%;
    margin-top: -3px;
  }
}

@media screen and (max-width: 768px) {

  body {
    background-color: #fff;
  }

  .button_fill {
    width: 280px;
    height: 55px;
  }

  .nav {
    width: 60px;
  }

  .nav ul li a {
    font-size: 13px;
  }

  .header-contact__phone {
    font-size: 18px;
  }

  .bg-wrapper {
    margin-top: 20px;
  }

  .developer-wrapper {
    -webkit-transform: translateY(222px);
    transform: translateY(222px);
  }

  .developer {
    margin: 0 auto;
  }

  .developer__name {
    font-size: 30px;
    margin-bottom: 13px;
    text-align: center;
  }

  .developer__desc {
    width: 211px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 26px;
  }

  .developer-img {
    width: 224px;
    height: 334px;
  }

  .heading {
    font-size: 30px;
    font-weight: 600;
    margin-top: 209px;
  }

  .skills__img {
    width: 61px;
    height: 56px;
  }

  .skills__item-wrapper {
    max-width: 100%;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .cases .heading {
    padding-top: 0;
  }

  .price__title {
    font-size: 28px;
  }

  .price__desc {
    font-size: 15px;
  }

  .footer {
    margin-top: 49px;
  }

  .footer .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-nav__items:last-child {
    margin-bottom: 48px;
  }

  .footer-phone {
    font-size: 20px;
  }

  .footer-mail {
    font-size: 20px;
    margin-bottom: 25px;
  }

  .socials-icons {
    margin-top: 54px;
  }

  .contacts-wrapper {
    margin-left: 0;
  }

  .burger {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }

  .burger__btn {
    display: block;
    width: 24px;
    height: 18px;
    background-color: #fff;
    position: relative;
  }

  .burger__btn span,
  .burger__btn span::before,
  .burger__btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 3px;
    background-color: #6c6b86;
    background-image: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
    cursor: pointer;
  }

  .burger__btn span::before,
  .burger__btn span::after {
    content: '';
    display: block;
  }

  .burger__btn span::before {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }

  .burger__btn span::after {
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
  }

  .burger__btn_active span {
    height: 0;
  }

  .burger__btn_active span:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 24px;
  }

  .burger__btn_active span:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 24px;
    -webkit-transform-origin: center;
    transform-origin: center;
  }
}

@media (max-width: 480px) {
  .bg-wrapper {
    background-size: contain;
    -webkit-transform: translateY(-107px);
    transform: translateY(-107px);
  }

  .mob-menu-wrapper {
    z-index: 9;
  }

  .mob-btn {
    width: 26px;
    height: 26px;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  .mob-btn span {
    width: 24px;
    height: 24px;
  }

  .fa-2x {
    font-size: 1em;
    -webkit-transform: translate(-1px, -3px);
    transform: translate(-1px, -3px);
  }

  .burger__btn {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }

  .header-contact__phone {
    -webkit-transform: translate(-10px, -4px);
    transform: translate(-10px, -4px);
  }

  .developer-img {
    -webkit-transform: translate(30px, -57px);
    transform: translate(30px, -57px);
    margin-bottom: -1px;
  }

  .developer {
    -webkit-transform: translateY(-39px);
    transform: translateY(-39px);
  }

  .developer__desc {
    width: 212px;
  }

  .skills {
    padding-bottom: 99px;
  }

  .heading {
    margin-top: 121px;
    margin-bottom: 47px;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    padding-top: 0;
  }

  .skills__item {
    margin-bottom: 56px;
  }

  .img-desc {
    font-size: 16px;
  }

  .skills__desc {
    width: 247px;
  }

  .skills__img {
    margin-bottom: 16px;
  }

  .case__desc {
    font-size: 18px;
  }

  .case__img {
    margin-bottom: 11px;
  }

  .swiper-container img {
    width: 100%;
    height: 251px;
  }

  .swiper-pagination {
    bottom: -57px;
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }

  .swiper-pagination-bullet {
    margin-right: 15px;
    width: 10px;
    height: 10px;
  }

  .case__button {
    margin-top: 103px;
    margin-bottom: 51px;
  }

  .price__title {
    padding-top: 43px;
    padding-bottom: 35px;
    line-height: 1.4;
  }

  .price__desc {
    line-height: 30px;
    padding-bottom: 43px;
  }

  .price__desc-text {
    width: 100%;
  }

  .footer {
    margin-top: 44px;
  }

  .footer-nav a {
    font-size: 16px;
  }

  .footer-nav__items:last-child {
    margin-bottom: 37px;
  }

  .footer-phone {
    margin-bottom: 24px;
  }

  .footer-mail {
    margin-top: 0;
    margin-bottom: 27px;
  }

  .footer-btn {
    width: 280px;
    height: 55px;
  }

  .socials-icons {
    margin-top: 48px;
  }
}

@media (max-width: 320px) {
  .bg-wrapper {
    background: url(/img/bg-320.png) no-repeat;
    background-position: 100% 100%;
  }

  .footer-rights {
    margin-top: 42px;
  }

  .footer-rights__text {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 18px;
  }
}
